div.col-1-1
  div.content

    h2 Projects

    div.grid.grid-pad

      div.col-1-2
        div.content
          each project in projects
            - var slug = project.title.toLowerCase().replace(/ /g,'-').replace(/[^\w-]+/g,'')
            h3( class="js-project-title",
                data-target=".js-project-description-#{slug}",
                data-link="#{project.link}").
              #{project.title}
            div(class="project-description js-project-description-#{slug}")
              h4.js-projet-sources
                a(href='#{slug}') Go to this project
              p
                != project.description

      div.col-1-2
        div.content.project-descriptions
